<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<!--<div ng-controller="ModalDemoCtrl">-->
  <!--<script type="text/ng-template" id="myModalContent.html">-->
    <!--<div class="modal-header">-->
      <!--<h3 class="modal-title">I'm a modal!</h3>-->
    <!--</div>-->
    <!--<section class="container form-inline">-->
      <!--<h4>Poleć znajomemu</h4>-->
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="inputName">Imię</label>-->
          <!--<input type="text" id="inputName" placeholder="Imię" class="form-control">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="inputEmail">Email</label>-->
          <!--<input type="email" id="inputEmail" placeholder="Email" class="form-control">-->
        <!--</div>-->
        <!--<button type="submit">Poleć</button>-->

      <!--</form>-->
    <!--</section>-->
    <!--<div class="modal-body">-->
      <!--<ul>-->
        <!--<li ng-repeat="item in items">-->
          <!--<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
      <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
      <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
  <!--</script>-->

  <button type="button" class="btn btn-default" id="myButton" ng-click="open()">Polecam</button>

<!--</div>-->

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Poleć zabytek znajomemu</h4>
      </div>
      <div class="modal-body">
        <section class="container form-inline">
        <!--<h4>Wypełnij pola</h4>-->
        <form id="form">
        <div class="form-group">
        <label for="login">Imię</label>
        <input type="text" id="login" placeholder="Imię" class="form-control">
        </div>
        <div class="form-group">
        <label for="name">Email</label>
        <input type="email" id="name" placeholder="Email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Polecam</button>
        </form>
        </section>

      </div>
      <div class="modal-footer">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="friends-recommendation.js"></script>
<script type="text/javascript">


$('#myButton').click(function(){
  $('#myModal').modal('show');
});


</script>
</body>
</html>

<!--<html>-->
<!--<head>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>-->
  <!--<meta charset=utf-8 />-->
  <!--<title>JS Bin</title>-->
<!--</head>-->
<!--<body ng-app='ModalDemo'>-->
<!--<div ng-controller='MyCtrl'>-->
  <!--<button ng-click='toggleModal()'>Open First Dialog</button>-->
  <!--<button ng-click='toggleModal1()'>Open Second Dialog</button>-->
  <!--<modal-dialog info='modalShown' show='modalShown' width='400px' height='60%'>-->
    <!--<p>Modal Content Goes here<p>-->
  <!--</modal-dialog>-->
  <!--<modal-dialog show='modalShown1' info='modalShown1' width='400px' height='60%'>-->
    <!--<p>2<p>-->
  <!--</modal-dialog>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->