<div class="modal-header">
  <h3 class="modal-title">Opcje filtowania po lokalizacji</h3>
</div>
<div class="modal-body">
  <h4>Wybierz względem czego ma się odbyć filtrowanie:</h4>
  <div class="form-group">
    <div class="btn-group btn-group-justified">
      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'" >Aktualna
        pozycja</label>
      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Pozycja wybrana na
        mapie</label>
    </div>
    <label>Zakres filtrowania w metrach (minimum 50m):</label>
    <input type="number" class="form-control" min="50" ng-model="howMuch" placeholder="minimum 50">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="howMuch ? ok():false">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>