#welcomeLogin {
    position: absolute;
    top:0;
    width:100%;
    text-align: center;
    background: url('../images/loginSection.jpg') no-repeat;
    background-size: cover;
    z-index:9;
    height: 100vh;
}

#login {
    border: black solid 2px;
    width: 40%;
    min-width: 300px;
    height:150px;
    position: relative;
    background: #2b5e8b;
    display: inline-block;
    top:40%;
}

.loginTitle {
    margin-top:2%;
    margin-bottom: 5%;
    font-size:20px;
    color: white;
}

.modal {
    height: 100vh;
}

.loginField {
    width: 300px;
    text-align: center;
}

.titleApp {
    font-size: 50px;
}