#welcomeLogin {
    position: absolute;
    top:0;
    width:100%;
    text-align: center;
    background: url('../images/loginSection.jpg') no-repeat;
    background-size: cover;
    z-index:9;
    height: 100vh;
}

#login {
    border: black solid 2px;
    border-radius: 10px;
    width: 30%;
    min-width: 320px;
    height: 170px;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    top: 20px;
    font-weight: bold;
}

.loginTitle {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
    letter-spacing: -1px;
    color: white;
}

.modal {
    height: 100vh;
}

.loginField {
    width: 300px;
    text-align: center;
}

.facebookLogin {
    width:300px;
    margin-top: 20px;
}

.powitanie {
    height: 250px;
    width: 100%;
}

.powitanie h2, .powitanie h3 {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 39px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
}

.powitanie h3 {
    top: 88px;
    font-size: 27px;
}