/*html, body {*/
    /*height: 100vh;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*position: absolute;*/
    /*top:0;*/


/*}*/


/*.loginNapis {*/
    /*margin-top:50px;*/
    /*margin-bottom: 100px;*/
    /*font-size: 20px;*/

/*}*/
/*.gbutton {*/
/*}*/
#Lala {
    position: absolute;
    top:2px;
    width:100%;
    /*top:25%;*/
    /*left: 30%;*/
    border: solid 2px black;
    text-align: center;
    background: url('../images/zdjeciePowitalne.jpg') no-repeat;
    background-size: cover;
    z-index:9;
    height: 100vh;
}

.titleApp {
    font-size: 50px;


}
#login {
    border: black solid 2px;
    width: 40%;
    height:20%;
    position: relative;
    top: 27%;
    left: 30%;
    background: #2b5e8b;

}
.loginTitle {
    margin-top:2%;
    margin-bottom: 5%;
    font-size:20px;
    color: white;
}

.modal{
    height: 100vh;
}




