html, body {
    height: 100%;
    margin: 0;
    padding: 0;


}


/*.loginNapis {*/
    /*margin-top:50px;*/
    /*margin-bottom: 100px;*/
    /*font-size: 20px;*/

/*}*/
/*.gbutton {*/
/*}*/
.Lala {
    position: absolute;
    width:40%;
    height: 50%;
    top:25%;
    left: 30%;
    border: solid 2px black;
    text-align: center;
    background: white;
    z-index:9;
}

