html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav li:hover {
    background-color: #e8e8e8;
}

.navbar-header a {
    background-image: url("../images/icons/logo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 150px;
}

.angular-google-map-container {
    height: calc(100vh - 106px);
}

.infoWind {
    text-align: center;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

#filtr .btn {
    border-radius: 0;
    height: 50px;
}

.navbar-default {
    margin: 0;
}

.about {
    text-align: center;
}

.page {
    background-color: #f4f4f4;
}

.images {
    max-height: 150px;
}