html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.nav  li:hover{
    background-color: #e8e8e8;
}

.navbar-header a {
    background-image: url("../images/icons/logo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 150px;
}

.angular-google-map-container { height: 600px; }

.infoWin {
    width: 250px;
    height: 150px;
}

.images {
    width: 80px;
    height: 100px;
   }

.icon{
    margin: 10px 13px;
}

.textWindow {
    text-align: center;
}

h5 {
    text-align: center;
}